# Telegram variables
BOT_TOKEN=your_bot_token_here
ADMIN_TELEGRAM_IDS=admin_ids

# Database variables
DATABASE_URL=your_database_url
POSTGRES_DB=your_db_name
POSTGRES_USER=yoyr_db_user
POSTGRES_PASSWORD=your_db_password

# Google Calendar variables
GOOGLE_CALENDAR_ID=primary
GOOGLE_APPLICATION_CREDENTIALS=google_credentials_file

# Logging variables
LOG_LEVEL=INFO
